.com1{
  float: left;
  width: 250px;
  margin-left: 70px;
}
.clear{
  clear: both;
}
.com2{
  width: 300px;
  float: left;
  margin-left: 150px;
}
.com3{
  width: 300px;
  float: left;
  margin-left: 110px;
} 
