.App {
  text-align: center;
  color: #666666;
}

.App-header {
  background-color: #16a085;
  color: #ecf0f1;
}
.App-header  h2 {
  line-height: 150px;
  margin: 0;
  font-size: 1.5rem;
}


.week {

}
.day {
  display: inline-block;
  width: 12%;
  height: 13em;
  border: 1px solid #ccc;
}
.day2 {
  display: inline-block;
  width: 12%;
  height: 7em;
  border: 1px solid #ccc;
}

.ca {
  font-size: 15px;
  margin: 0px;
}
.dayTitle {
  display: inline-block;
  width: 12%;
  height: 5em;
  padding: 2em 0;
  border: 1px solid #ccc;
}

.year-selection {
  padding: 2em 0;

}
.year-selection label {
  margin-left: 1em;
  margin-right: 0.25em;

}

footer {
  background: #16a085;
  padding: 2em;
  color: #ffffff;
}
footer a, footer a:visited {
  color: #222222;
}

.MuiGrid-item-182 {
  padding: 0px;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .item {
  }
}

.dateItem {
  font-family: "Ubuntu",sans-serif;
  font-size: 25px;
  margin-bottom: 0rem;
  font-style: bold;
}

.caItem {
  font-family: "Ubuntu",sans-serif;
}

.titleA {
  font-family: "Ubuntu",sans-serif;
  color: #6E9BA5;
}
