.row {
    min-height: -webkit-fill-available;
    max-width: 100%;
}
.left{
    background-color: white;
    margin-left: 30%;
}
.medium-5{
    width: 34%;
}
.left h1{
    text-align: center;
}
.bt{
    text-align: center;
}
input[type="text"] {
    height: 50px;
}
input[type="password"] {
    height: 50px;
}
.title{
    text-align: center;
    margin-top: 40px;
}

.ava{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon{
    text-align: center;
}

.login_page {
  background-image: url('./bg.jpg');
}
